---
layout: layouts/container.njk
---

<article class="article-typography">
  {{ content | safe }}

</article>
<div>
  {% for member in collections.member %}
    <div class="p-1 bg-gradient-ne-{{member.data.color}}">
      <div class="bg-white">
        <h3>{{ member.data.title }}</h3>
      </div>
    </div>
  {% endfor %}
</div>