---
layout: layouts/base.njk
---

<div class="space-y-8">
  {% if back %}
    <aside class="prose">
      <a href="{{back.href}}">{{back.title}}</a>
    </aside>
  {% endif %}
  <div class="space-y-4">
    {{ content | safe }} 
  </div>
</div>
