@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  font-size: calc(18px + (20 - 18) * ((100vw - 640px) / (1280 - 640)));
}

body {
  background: gainsboro;
}

.article-typography h1 {
  @apply text-4xl;
  @apply font-bold;
}

.article-typography p {
  @apply text-base;
}
