@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
  font-size: calc(20px + (20 - 18) * ((100vw - 640px) / (1280 - 640)));
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  @apply bg-white;
  @apply text-black;
  @apply leading-normal;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

a:not([class]):hover {
  @apply text-red;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.copy-center {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
  @apply pl-2 pr-2;
}

/* purgecss ignore */
.wip-warning {
  @apply bg-orange;
}
